body {
	background-color: #F44;
	transition: background-color .5s ease;
}

h1 {
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 144;
	color: #F92;
	text-align: center;
	text-transform: capitalize;
	text-shadow: -1px 0 black, 0 1px black, -10px 0 black, 0 -1px black;
	position: relative;
	z-index: 2;
}

h2 {
	font-family: 'Lobster', cursive;
	color: #F92;
	font-size: 55;
	text-align: center;
	position: relative;
	top: -229px;
	text-shadow: 6px 0 black, 0 1px black, 4px 0 black, 0 -1px black;
	z-index: 2;
}

h3 {
	font-family: 'Permanent Marker', cursive;
	margin: 0 auto;
	text-align: center;
	position: relative;
	width: 85%;
	top: -170px;
	font-style: italic;
}

h4 {
	margin-top: 2px;
	margin-left: 10px;
	margin-right: 10px;
	font-family: 'Bangers', cursive;
	color: black;
}

h5 {
	font-family: 'Fjalla One', sans-serif;
	font-size: 50;
	color: white;
	text-shadow: -5px 1px black;
}

hr {
	color: black;
	border-color: black;
	background-color: black;
}

.linkPanel {
	margin-top: 50px;
}

.bottomLink {
	text-decoration: none;
}

.icon {
	display:inline-block;
    width: 35px; 
    height: 35px; 
}

.icon:hover {
	transform: scale(1.05, 1.05);
	-webkit-transform: scale(1.05, 1.05);
}

.logo {
	margin-left: auto;
	margin-top: -25px;
	margin-bottom: 10px;
    width: 75%;
}

.panelContent {
	position: relative;
	margin-top: -150px;
}

.panelContentBody {
	margin-top: -50px;
	width: 50%;
	font-family: 'Walter Turncoat', cursive;
}

.quoteBox {
	position: relative;
	cursor: hand;
	outline: 3px solid black;
	-webkit-transition: all 125ms linear;
    -moz-transition: all 125ms linear;
    -o-transition: all 125ms linear;
    transition: all 125ms linear;
    z-index: 0;
}

.quoteBox:hover {
	color: #F44;
	background-color: black;
}

.hand {
	position: relative;
	top: -153px;
	left: 50%; 
	z-index: 1;
	opacity: 0;
}

.namehover {
	height: 150px;
	width: 492;
	left: 50%;
	position: relative;
	margin-top: 0px;
	margin-bottom: -250;
	margin-left: -252;
	z-index: 3;
}

.comicPanel {
	background-color: black;
	overflow: hidden;
	position: relative;
	margin-top: -120px;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	height: 50%;
	outline: 3px solid black;
}

.innerPanel {
	cursor: hand;
	background-size: cover;
	overflow: auto;
	float: left;
	width: 33.33%;
	height: 100%;
	outline: 1px solid black;
}

.panelCaption {
	margin-left: 1px;
	margin-top: -1px;
	height: 20px;
	outline: 1px solid black;
	background-color: orange;
}


#back {
	position: relative;
	margin-top: -125px;
	cursor: hand;
}

#back:hover {
	transform: rotate(5deg);
	-webkit-transform: rotate(5deg);
}

#left {
	background-image: url(../files/aboutme.jpg);
	-webkit-filter: grayscale(1);
	-moz-filter: grayscale(1);
	-o-filter: grayscale(1);
	filter: grayscale(1);
}

#left:hover {
	-webkit-transition: all 75ms linear;
    -moz-transition: all 75ms linear;
    -o-transition: all 75ms linear;
    transition: all 75ms linear;
	-webkit-filter: grayscale(0);
	-moz-filter: grayscale(0);
	-o-filter: grayscale(0);
	filter: grayscale(0);
}

#aboutMeCaption {
	width: 83px;
}

#middle {
	background-image: url(../files/thingsipo.jpg);
	background-position: center;
	-webkit-filter: grayscale(1);
	-moz-filter: grayscale(1);
	-o-filter: grayscale(1);
	filter: grayscale(1);
}

#middle:hover {
	-webkit-transition: all 75ms linear;
    -moz-transition: all 75ms linear;
    -o-transition: all 75ms linear;
    transition: all 75ms linear;
	-webkit-filter: grayscale(0);
	-moz-filter: grayscale(0);
	-o-filter: grayscale(0);
	filter: grayscale(0);
}

#thingsIPOCaption {
	width: 152px;
}

#right {
	background-image: url(../files/hireme.jpg);
	background-position: 0% 50%;
	-webkit-filter: grayscale(1);
	-moz-filter: grayscale(1);
	-o-filter: grayscale(1);
	filter: grayscale(1);
}

#right:hover {
	-webkit-transition: all 75ms linear;
    -moz-transition: all 75ms linear;
    -o-transition: all 75ms linear;
    transition: all 75ms linear;
	-webkit-filter: grayscale(0);
	-moz-filter: grayscale(0);
	-o-filter: grayscale(0);
	filter: grayscale(0);
}

#hireMeCaption {
	width: 69px;
}