body {
	margin: 0;
	background: white;
	transition: background-color 2s ease;
}

.bgblack {
	background-color: black;
}

h1 {
	font-family: 'Megrim', cursive;
	font-size: 100px;
	margin-bottom: 70px;
}

h2 {
	font-size: 20px;
}

h3 {
	cursor: hand;
	font-size: 10px;
}

.writing {
	padding-top: 25%;
	font-family: 'Iceland', cursive;
	font-size: 50px;
	color: white;
}

.skip {
	opacity: 0;
	cursor: hand;
	font-family: 'Iceland', cursive;
	color: white;
}

.project {
	cursor: hand;
	height: 250px;
	width: 250px;
	margin-bottom: -180px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	opacity: 0;
	transition: all 0.35s ease;
}

.projectclicked {
	-webkit-filter: blur(15px);
	-moz-filter: blur(15px);
	filter: blur(15px);
}

.desc {
	position: relative;
	top: -65px;
	left: 25%;
	width: 50%;
	height: 48%;
	opacity: 0;
	z-index: -1;
	font-family: 'Open Sans Condensed', sans-serif;
}

.descshowing {
	z-index: 0;
}